.client-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.client-modal-main {
  position: fixed;
  background: white;
  width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.client-display-block {
  display: block;
}

.client-display-none {
  display: none;
}

.error-textVerClientModal {
  font-size: 18px;
  color: #d63301;
  margin-bottom: 15px;
}
